# web
static/out/*
!static/out/README.md

# api
api/*
!api/README.md

# build
dist/*
build

bin/*
!bin/.gitkeep

# vscode
.vscode

# data
data
internal/core/subconv/subconv.es5.js
